@model IEnumerable<Automobilistica.Models.CarroCliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Carros de cada Cliente</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Carro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Data de Cadastro")
            </th>
            <th>
                @Html.Label("Status")
            </th>
            <th>
                @Html.Label("Código do Carro")
            </th>
            <th>
                @Html.Label("Código do Cliente")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ccdtcadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ccstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CccdcarroNavigation.Crcdcarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CccdclienteNavigation.Clcdcliente)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { idCar = item.Cccdcarro, idClie = item.Cccdcliente }, new { @class = "btn btn-secondary" }) |
                @Html.ActionLink("Details", "Details", new { idCar = item.Cccdcarro, idClie = item.Cccdcliente }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { idCar = item.Cccdcarro, idClie = item.Cccdcliente }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
