@model Automobilistica.Models.Proposta

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Proposta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.Label("Valor")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ppvalor)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Data de Cadastro")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ppdtcadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Status")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ppstatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Carro")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PpcdcarroNavigation.Crfabricante)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Código do Cliente")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PpcdclienteNavigation.Clcdcliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Código do Funcionário")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PpcdfuncionarioNavigation.Fncdfunc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Ppcdproposta" />
        <input type="submit" value="Delete" class="btn btn-danger" style="margin-right: 10px;" />
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
