@model Automobilistica.Models.Proposta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Proposta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.Label("Valor")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ppvalor)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Data de Cadastro")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ppdtcadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Status")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ppstatus) 
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Carro")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PpcdcarroNavigation.Crfabricante)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Código do Cliente")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PpcdclienteNavigation.Clcdcliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Código do Funcionário")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PpcdfuncionarioNavigation.Fncdfunc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Ppcdproposta" class="btn btn-primary" style="margin-right: 10px;">Edit</a>
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>
