@model Automobilistica.Models.Proposta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Proposta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ppvalor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ppvalor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ppdtcadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ppdtcadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ppstatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ppstatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PpcdcarroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PpcdcarroNavigation.Crfabricante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PpcdclienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PpcdclienteNavigation.Clcdcliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PpcdfuncionarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PpcdfuncionarioNavigation.Fncdfunc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Ppcdproposta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
